{#
 This file is part of EC-CUBE

 Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}

{#
[メルマガ管理]-[配信内容設定]-[確認]画面
#}

{% extends 'default_frame.twig' %}

{% set menus = ['mailmagazine', 'mailmagazine'] %}

{% block title %}メルマガ管理{% endblock %}
{% block sub_title %}配信内容管理{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/moment.min.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/moment-ja.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/bootstrap-datetimepicker.min.js"></script>
    <script>
$(function() {

    var inputDate = document.createElement('input');
    inputDate.setAttribute('type', 'date');
    if (inputDate.type !== 'date') {
        $('input[id$=_date_start]').datetimepicker({
            locale: 'ja',
            format: 'YYYY-MM-DD',
            useCurrent: false,
            showTodayButton: true
        });

        $('input[id$=_date_end]').datetimepicker({
            locale: 'ja',
            format: 'YYYY-MM-DD',
            useCurrent: false,
            showTodayButton: true
        });

    $('#admin_search_customer_send_start').datetimepicker({
            locale: 'ja',
            format: 'YYYY-MM-DD',
            useCurrent: false,
            showTodayButton: true
        });

    $('#admin_search_customer_send_end').datetimepicker({
            locale: 'ja',
            format: 'YYYY-MM-DD',
            useCurrent: false,
            showTodayButton: true
        });
    }
});

        function changeAction(action) {
            document.form1.action = action;
            document.form1.submit();
        }

    </script>
{% endblock javascript%}

{% block main %}

    <div class="row" id="aside_wrap">
        <form name="form1" role="form" class="form-horizontal" id="form1" method="post" action="">
            {{ form_widget(form._token) }}
            {{ form_widget(scheduleForm._token) }}

            <div class="col-md-9">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">スケジュール配信設定</h3>
                    </div><!-- /.box-header -->

                    <div class="row">


                        <div id="search_box_main__body_inner" class="col-sm-12 col-lg-10 col-lg-offset-1 search">

                        <div id="search_box_main__birth" class="col-xs-12 col-sm-12 col-md-6">
                        <label>スケジュール名</label>
                        <div class="form-group">
                        {{ form_widget(scheduleForm.schedule_name) }}
                        </div>
                        </div> 
                                                
                        <div class="col-xs-6 col-md-4">
                            <div id="search_box_main__customer_status" class="form-group">
                            <label>配信間隔</label>
                            {{ form_widget(scheduleForm.send_week) }}
                            </div>
                        </div>
                        <div id="search_box_main__birth" class="col-xs-12 col-sm-12 col-md-6">
                        <label>配信時間</label>
                        <div class="form-group">
                        {{ form_widget(scheduleForm.send_time) }}
                        </div>
                        </div> 


                        <div id="search_box_main__birth" class="col-xs-12 col-sm-12 col-md-6">
                        <label>配信期間</label>
                        <div class="form-group range">
                        {{ form_widget(scheduleForm.send_start, {'attr': {'class': 'input_cal'}}) }} ～ {{ form_widget(scheduleForm.send_end, {'attr': {'class': 'input_cal'}}) }}
                        </div>
                        </div> 

                        <div id="search_box_main__birth" class="col-xs-12 col-sm-12 col-md-6">
                        <label>繰返し送信する</label>
                        <div class="form-group range">
                        {{ form_widget(scheduleForm.sendrepeat_flg) }}
                        </div>
                        </div> 
                        {{ form_widget(scheduleForm.enable_flg, { attr: { class : 'hidden' } } ) }}
                        </div>
                    </div>


                    <div class="box-body">
                        <div style="display: none">
                            {{ form_rest(form) }}
                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>

            {# 配信するボタン #}
            <div class="col-md-3" id="aside_column">
                <div class="col_inner">
                    <div class="box no-header">
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" onclick="changeAction('{{ url('admin_mail_magazine_commit_schedule') }}'); return false;">スケジュール配信する</button>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div><!-- /.col -->
            {# テンプレート設定画面へ戻るボタン #}
            <div class="col-md-3" id="aside_column">
                <div class="col_inner">
                    <div class="box no-header">
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" onclick="changeAction('{{ url('admin_mail_magazine_confirm') }}/{{id}}'); return false;">テンプレート設定画面へ戻る</button>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div><!-- /.col -->
        </form>
    </div>


{% endblock %}
