{#
 This file is part of EC-CUBE

 Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['mailmagazine', 'mailmagazine_schedule'] %}

{% block title %}メルマガ管理{% endblock %}
{% block sub_title %}スケジュール配信管理{% endblock %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js"></script>

<script>
function fnDelete(action) {
    if (confirm('このスケジュール配信を削除しても宜しいですか？')) {
        document.form1.action = action;
        document.form1.submit();
    }
}
function changeAction(action) {
    document.form1.action = action;
    document.form1.submit();
}
</script>
{% endblock %}

{% block main %}
<form name="form1" id="form1" method="post" action="">

{% if pagination %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                {% if pagination and pagination.totalItemCount > 0 %}
                    <div class="box-header with-arrow">
                        <h3 class="box-title">総件数 <span class="normal"><strong>{{ pagination.totalItemCount }} 件</strong> </span></h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        {% include "pager.twig" with { 'pages' : pagination.paginationData, 'routes' : 'admin_mail_magazine_schedule' } %}
                        <div class="table_list">
                            <div class="table-responsive with-border">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>スケジュール名</th>
                                            <th>配信開始</th>
                                            <th>配信終了</th>
                                            <th>配信時刻（24h)</th>
                                            <th>配信間隔</th>
                                            <th>有効・無効</th>
                                            <th>繰返し配信</th>
                                            <th>配信履歴</th>
                                            <th>削除</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for SendSchedule in pagination %}
                                        <tr>
                                            <td class="">
                                            <a href="?" onclick="changeAction('{{ url('admin_mail_magazine_schedule_edit', { id: SendSchedule.id }) }}'); return false;">{{ SendSchedule.schedule_name }}</a>
                                            </td>
                                            <td class="">{{ SendSchedule.send_start|date("Y/m/d") }}</td>
                                            <td class="">
                                                {% if SendSchedule.send_end is not null %}
                                                    {{ SendSchedule.send_end|date("Y/m/d") }}
                                                {% endif %}
                                            </td>
                                            <td class="">{{ SendSchedule.send_time|date("H:i") }}</td>
                                            <td class="">{% for wk in SendSchedule.send_week %}{{app.config.MailMagazine.const.send_week_str[wk]}},{% endfor %}
                                            </td>
                                            <td class="">{{ SendSchedule.enable_flg}}</td>
                                            <td class="">{{ SendSchedule.sendrepeat_flg}}</td>

                                            <td class="">{% if SendSchedule.SendHistory %}
<a href="?" onclick="changeAction('{{ url('admin_mail_magazine_history', { id: SendSchedule.SendHistory.id }) }}'); return false;">確認</a>{% else %}--{% endif %}</td>
                                            <td class=""><a href="?" onclick="fnDelete('{{ url('admin_mail_magazine_schedule_delete', { id: SendSchedule.id }) }}'); return false;">削除</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div><!-- /.box-body -->
                {% else %}
                    {# データがない場合 #}
                    <div class="box-header with-arrow">
                        <h3 class="box-title">該当するデータがありませんでした。</h3>
                    </div><!-- /.box-header -->
                {% endif %}
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>

{% else %}
    <div class="box-header with-arrow">
        <h3 class="box-title">検索条件に該当するデータがありませんでした。</h3>
    </div><!-- /.box-header -->
{% endif %}
</form>

{% endblock %}
